body{font:13px/1.62 helvetica,arial,clean,sans-serif;
letter-spacing:.1em;
word-spacing: -0.08em;
*font-size:small;*font:x-small;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
q:before,q:after{content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
abbr,acronym{border:0;font-variant:normal;}

p {
padding: 0;
margin: 1em 2em;
}

em {font-style: italic;}
strong {font-weight: bold;}

h1,h2,h3,h4,h5,h6{
font-weight: bold;
text-decoration: none;

margin: 0 0 0.25em 0;
display: block;}

h1 {padding-top: 0.1em; padding-right: 0.36em; padding-bottom: 0.1em; padding-left: 0.38em; }
h2 {
padding-left: 0.32em; padding-right: 0.32em;
margin-left: 0.32em; margin-right: 0.32em;
}
h3 {padding-left: .86em; padding-right: 0.62em;}
h4 {padding-left: 1.06em; padding-right: 0.62em;}
h5 {padding-left: 1.3em; padding-right: 0.62em;}
h6 {padding-left: 1.6em; padding-right: 0.62em;}

h4,h5,h6 {letter-spacing:.1em;}

h1 {font-size: 414%; text-transform: uppercase; letter-spacing: -.08em; line-height: 100%;}
h2 {font-size: 275%; text-transform: uppercase; letter-spacing: -.07em; line-height: 122%;}
h3 {font-size: 225%; text-transform: uppercase; letter-spacing: 0.1em; word-spacing: 0.1em; line-height: 122%;}
h4 {font-size: 184%; line-height: 122%;}
h5 {font-size: 150%; font-variant: small-caps; line-height: 122%;}
h6 {font-size: 122%; line-height: 122%;}

a:link{}
a:visited{}
a:hover {}
a:active {}

blockquote {
font-family: georgia, serif;
font-style: italic;
padding: 0 0 0 2em;
margin: 0 0 0 2em;
border-left: solid 4px;
}

cite {font-style: italic;}
q {}
blockquote cite {font-style: normal; margin: 0 0 0 2em;}

ul{}
ol{}
dl{margin: 0 0 0 2em;}
dt {font-weight: bold;}
dd {margin: 0 0 0.5em 1em;}
li {
margin: 0 0 0 2em;
padding: 0 0 0 0em;
}
ul li{list-style-type: circle;}
ol li{list-style-type: upper-roman;}
