<h1>About</h1>
<p>This site is a collection of ideas, trying to become a reality</p>

<p>More and more of our lives are becoming embedded in the Internet. Google is a very popular search engine. It is also a very successful advertising business. But perhaps more importantly, for just under a billion of the world's internet users, it is the gateway to the internet.</p>

<p>The internet is fundamentally disorganised. This creates a problem that Google aims to solve, through its stated mission to <q>organise the world's information and make it universally accessible.</q> It isn't that Google is alone in attempting to solve this problem — there were search engines before Google, and no doubt there will be more search engines in the future.</p>

<p>But that isn't what Google as a business, accountable to its shareholders, is trying to do. It's business is to make money out of its solution to that problem. For the most part, that seems to work well for Google today, but that isn't necessarily going to be the case tomorrow. In other words, what Google, Facebook, Twitter, Yahoo!, Microsoft etc. etc. are trying to do isn't necessarily aligned with what I want to do. So this is a shot at redressing that balance. If it doesn't work the way I want it to work, then at least I can take responsibility for it.</p>

<p>My idea for this site is;</p>
<ol>
<li>Build a resource that makes it easier for me to assemble my thoughts about what "the digital age" means; my notes, interesting links I find, books I read etc. etc. (I already have a personal webside at <a href="http://somerandomnerd.com">SomeRandomNerd.com</a>, but it has lost focus over time, and I've also lost track of the technology behind it. I seem to spend more time doing maintenance/admin stuff than building interesting things, so I think it's time to try something new on the technology front.)</li>

<li>Build the tools for recording my "stuff" online as simply as possible</li>

<li>Assuming that this first bit works, us the same idea to integrate as much of my online life as possible into the site, putting my information (both input and output) into something that is under my own control that I can then move back into SomeRandomNerd.com.</li>

<li>Learn a bit about programming web apps in the process.</li>

<li>Make an iPhone app that presents a public view, gives me a nice admin-ish interface</li>
</ol>
