<h1>Contact.</h1>
<p>My Electronic Brain is the work and property of <a href="http://somerandomnerd.com">Scott Thompson</a>. From that link to my 'main' site, you should be able to figure out my email address if you want to contact me. (Clue: you don't need to know my surname.) Otherwise, you can find me on Twitter: <a href="http://twitter.com/somerandomnerd">@SomeRandomNerd</a></p>