<h2>Copyright notice</h2>
<p>For now, until I have figured out the best Creative Commons licence, everything on this site (content, design and code) is protected by copyright.</p>
<h2>Privacy Policy</h2>
<p>Again, until I have figured out a better approach, any information you leave on this site becomes my property, and will not be shared with anyone else. This includes any history of which pages you have visited, which I may use as feedback to tell me what is interesting, and to suggest content that might interest you. No information that I collect will be shared or sold with any third parties.</p>
<p>This site will use services provided by other online service providers. It is hosted by Heroku, includes certain CSS and Javascript files from Google, and may have embedded files from other sources (eg. YouTube.) These sites may track you in ways that are outside my control. If this bothers you, I would receommend disabling 3rd party cookies in your browser. If this confuses you, then I recommend using Safari, which has them disabled by default.</p>
